<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="checkin" href="/tabs/checkin">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Check-in</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="relatorio" href="/tabs/relatorio">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Relatório</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="admin" href="/tabs/admin">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Admin</ion-label>  
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
